body{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    
   height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/*-------------------- amazon logo add ----------------- */

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
background-image: url("images/amazon_logo.png");
background-size: cover;
height: 50px;
width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1px solid white;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    padding: 4px;
}


.add-first{
    
        color: #cccccc;
        font-size: 0.8rem;
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: 15px;
}
.add-second{
    margin-top: 0;
     font-size: 1rem;
     margin-left: 3px;
}
.add-icon{
    display: flex;
}
/*-------------------- searchbar -------------------------- */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 850px;
    height: 40px;
    border-radius: 4px;
}


.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}

 /* singin and return box  */

span{
    font-size: 0.7rem;
}
/* -----------nav cart add --------------- */

.nav-cart i{
  font-size: 35px;
}
.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}
/*------------------------- second navbar -------------------- */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
}
.panel-all{
    margin-left: 20px;
}
.panel-option p{
    display: inline;
    margin-left: 10px;
    font-size: 0.85rem;
}
.panel-option{
    width: 70%;
    margin-left: 20px;
}
.sec-border {
    border: 1px solid transparent ;
    /* padding: 5px; */

}
.sec-border:hover {
    border: 1px solid white;
    padding: 5px;
}

.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    font-weight: 500;
    width: 80%;
}
.hero-msg a{
    text-decoration: none;
    font-weight: 600;
    
}

/*-------------------------- main shoping section ------------------------------ */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 10px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
.box-content p:hover{
    color: red;
}


/*------------------------ footer style add ------------------------------ */

footer{
    margin-top: 15px;
}
.foot-panel{
   background-color: #37475a; 
   color: white;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 a{
    color: #dddddd ;
    font-size: 15px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.01px solid #ddddddd1;
    height: 70px;
    display: flex;
    

}
.amazon-logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-left: 25%;
    margin-right: 70px;
    margin-top: 15px;

}
.global-img{
    /* margin-top: 15px; */
    margin-left: 10px;
    display: flex;
    margin-top: 0;
}
.global-img p {
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px;
    font-size: 13px;
}
.foot-panel4{
    background-color: #0f1111;
    color: #dddddd;
    height: 80px;
    text-align: center;
    
  
}

.foot-panel4 a{
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    padding-top: 25px;
    
}

.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    font-size: 0.85rem;
    text-align: center;
}