body{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    
   height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
background-image: url("images/amazon_logo.png");
background-size: cover;
height: 50px;
width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}


.add-first{
    
        color: #cccccc;
        font-size: 0.8rem;
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: 15px;
}
.add-second{
    margin-top: 0;
     font-size: 1rem;
     margin-left: 3px;
}
.add-icon{
    display: flex;
}
